<!--<div id="photo">-->
    <!--<img id="photoCanvas" src="{{ image.image_url }}" name="{{ image.name }}" style="width: 500px">-->
<!--</div>-->
<!--<div>-->
    <!--<button ng-click="editor('vintage')">Vintage</button>-->
    <!--<button ng-click="editor('lomo')">Lomo</button>-->
    <!--<button ng-click="editor('clarity')">Clarity</button>-->
    <!--<button ng-click="editor('sinCity')">Sin city</button>-->
    <!--<button ng-click="editor('sinCity')">Sin city</button>-->
    <!--<button ng-click="editor('sunrise')">Sunrise</button>-->
    <!--<button ng-click="editor('crossProcess')">Cross Process</button>-->
    <!--<button ng-click="editor('orangePeel')">Orange Peel</button>-->
    <!--<button ng-click="editor('love')">Love</button>-->
    <!--<button ng-click="submit()">Submit</button>-->
<!--</div>-->