<div masonry='{ "columnWidth": 250 , "itemSelector" : ".item101"}' style="width: 1251px;margin: auto;margin-top: 80px;"
     infinite-scroll='nextPage()' infinite-scroll-disabled='busy' infinite-scroll-distance='1' >
    <!-- items -->
    <div masonry-tile ng-repeat="post in posts" class="item101">
        <div style="margin-right: 10px">
            <div class="widget border-none bg-none widget-pinterest active"
                 style="-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);border-radius: 6px;">
                <div class="widget-body bg-none padding-none"
                     style="-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);box-shadow: 2px 2px rgba(0, 0, 0, 0.22);border-radius: 6px;">
                    <a ng-click="openPost(post.id)"
                       data-toggle="prettyPhoto" class="thumb">
                        <img ng-src="{{ post.image_url_editor }}" style="width: 100%"
                             alt="photo"/>
                    </a>

                    <div class="description  meta">
                        <div class="hover-blue">
                            <div class="title">
                                <a data-track="photo-click" ng-href="/" class="title">
                                    {{ post.caption }}
                                </a>
                            </div>
                            <div class="attribution-block" style="height: 7px;margin-top: 6px;">
    										<span class="attribution"><span>bởi </span>
    										<a data-track="owner" ng-href="/user/{{post.user_id}}"
                                               class="owner">{{ post.user.username }}</a></span>
                            </div>
                        </div>
    								<span class="inline-icons" style="font-size: 12px;">
                                        <span ng-click="likeOrDislikePost(post.id,post.isLike)" style="cursor: pointer">
                                            <i class="fa fa-fw fa-thumbs-up" style="color: white;" ng-if="post.isLike == false"></i>
                                            <i class="fa fa-fw fa-thumbs-up" style="color: blue;" ng-if="post.isLike == true"></i>
                                            <a data-track="favorite" class="rapidnofollow fave-star-inline canfave"
                                               style="margin-left: -4px;">
                                                {{ post.like.length }}
                                            </a>
                                        </span>
                                        <span ng-click="favoriteOrUn(post.id,post.isFavorite)" style="cursor: pointer">
                                            <i class="fa fa-fw fa-heart" style="color: white;margin-left: 7px;" ng-if="post.isFavorite == false"></i>
                                            <i class="fa fa-fw fa-heart" style="color: red;margin-left: 7px;" ng-if="post.isFavorite == true"></i>
                                            <a  class="rapidnofollow comments-icon comments-inline-btn"
                                                style="margin-left: -3px;">
                                                <span class="comment-count count">{{ post.favorite.length }}</span>
                                            </a>
                                        </span>
                                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>