<div id="content">
    <div class="innerAll">
        <div class="row" style="margin-left: 17px;margin-right: 15px;">
            <div class="col-lg-9 col-md-8">

                <div class="timeline-cover">
                    <div class="widget border-bottom">
                        <div class="timeline-cover">
                            <div class="cover image">
                                <div class="top">
                                    <img src="assets/img/images/photodune-2755655-party-time-s.jpg"
                                         class="img-responsive"/>
                                </div>
                                <div class="_6a uiPopover _30vx _5v-0" id="fbProfileCoverPhotoSelector" data-ft="{&quot;tn&quot;:&quot;*|&quot;}">
                                    <!--<a class="_30vy fbTimelineEditCoverButton _p"  aria-haspopup="true"-->
                                    <!--aria-expanded="false" role="button" id="u_jsonp_3_7" aria-owns="u_16_3">-->
                                    <div class="fileupload fileupload-new margin-none" data-provides="fileupload">
                                            <span class="btn btn-file _30vz img sp_qcED-f6xcm7 sx_80b32b"><span class="fileupload-new"></span>
                                                <input type="file" class="margin-none "></span>
                                        <!--<i class="_30vz img sp_qcED-f6xcm7 sx_80b32b"></i>-->
                                    </div>
                                    <!--<input type="file" class="margin-none">-->
                                    <!--<div class="_30v-"><span class="_30w0 _50f7">Update Cover Photo</span></div>-->
                                    </a>
                                </div>
                                <ul class="list-unstyled">
                                    <li class="active"><a ng-href="#/user/{{user.id}}"><i class="fa fa-fw fa-clock-o"></i>
                                        <span>Timeline</span></a></li>
                                    <li><a href="about.html?lang=en"><i class="fa fa-fw fa-user"></i> <span>About</span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget cover image">
                                <div class="widget-body padding-none margin-none">
                                    <div class="photo">
                                        <img ng-src="{{ user.picture_profile }}" class="img-circle"/>
                                    </div>
                                    <div class="innerAll border-right pull-left">
                                        <h3 class="margin-none">{{ user.username }}</h3>
                                        <span>Works at MOSAICPRO</span>
                                    </div>
                                    <div class="innerAll pull-left">
                                        <li class="ProfileNav-item ProfileNav-item--following">
                                            <a class="ProfileNav-stat ProfileNav-stat--link u-borderUserColor u-textCenter js-tooltip js-nav u-textUserColor"
                                               data-nav="tweets" ng-href="#/following/{{user.id}}" data-original-title="" style="color: #0084B4;">
                                                <span class="ProfileNav-label">Following</span>
                                                <span class="ProfileNav-value" data-is-compact="false">{{ user.following.length }}</span>
                                            </a>
                                        </li>
                                        <li class="ProfileNav-item ProfileNav-item--followers is-active">
                                            <a class="ProfileNav-stat ProfileNav-stat--link u-borderUserColor u-textCenter js-tooltip js-nav u-textUserColor"
                                               data-nav="followers" ng-href="#/follower/{{user.id}}"
                                               data-original-title="2 Followers" style="color: #0084B4;">
                                                <span class="ProfileNav-label">Followers</span>
                                                <span class="ProfileNav-value" data-is-compact="false">{{ user.follower.length }}</span>
                                            </a>
                                        </li>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="input-group innerB">
                    <input type="text" class="form-control" ng-model="q" placeholder="Search contacts">
                    <div class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></div>
                </div>
                <div class="row row-merge" >

                    <div class="col-md-12 col-lg-6 bg-white border-bottom"  ng-repeat="flwer in follower | filter:q">
                        <div class="row">

                            <div class="col-sm-9">
                                <div class="media">
                                    <a class="pull-left margin-none" href="#">
                                        <img class="img-clean" ng-src="{{ flwer.picture_profile }}" alt="...">
                                    </a>
                                    <div class="media-body innerAll inner-2x padding-right-none padding-bottom-none">
                                        <h4 class="media-heading"><a ng-href="#/user/{{flwer.user_id}}" class="text-inverse" style="color: #424242;">{{ flwer.username }}</a></h4>
                                        <p>
                                            <i class="fa fa-fw fa-map-marker text-muted"></i> Living in Missouri, USA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="innerAll text-right">
                                    <div class="btn-group-vertical btn-group-sm">
                                        <button ng-click="followBtnClick(flwer)"  class="btn btn-primary" style="display: inline-flex;">
                                            <i  class="fa fa-user" style="margin: 3px 6px 3px -1px;"></i>{{ flwer.status }}
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-4 col-lg-3">

                <div class="widget">
                    <h5 class="innerAll margin-none bg-primary">PEOPLE YOU MAY KNOW</h5>

                    <div class="widget-body padding-none">
                        <ul class="list-group list-group-1 borders-none margin-none">
                            <li class="list-group-item">
                                <div class="media border-bottom innerAll margin-none">
                                    <img src="assets/img/images/people/35/22.jpg" class="pull-left media-object"
                                         style="height: 44px;"/>

                                    <div class="media-body">
                                        <h5 class="margin-none">
                                            <a href="" class="text-inverse"
                                               style="margin-top: -10px;margin-left: -16px;">Social Admin Released</a>
                                        </h5>

                                        <div class="btn-group-vertical btn-group-sm" style="margin-top: 13px;">
                                            <a href="" class="btn btn-primary"
                                               style="width: 71px;height: 28px;margin-top: -24px;">
                                                <i class="fa fa-user" style="font-size: 13px;width: 11px;"></i>
                                                Follow
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media border-bottom innerAll margin-none">
                                    <img src="assets/img/images/people/35/22.jpg" class="pull-left media-object"
                                         style="height: 44px;"/>

                                    <div class="media-body">
                                        <h5 class="margin-none">
                                            <a href="" class="text-inverse"
                                               style="margin-top: -10px;margin-left: -16px;">Social Admin Released</a>
                                        </h5>

                                        <div class="btn-group-vertical btn-group-sm" style="margin-top: 13px;">
                                            <a href="" class="btn btn-primary"
                                               style="width: 71px;height: 28px;margin-top: -24px;">
                                                <i class="fa fa-user" style="font-size: 13px;width: 11px;"></i>
                                                Follow
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media border-bottom innerAll margin-none">
                                    <img src="assets/img/images/people/35/22.jpg" class="pull-left media-object"
                                         style="height: 44px;"/>

                                    <div class="media-body">
                                        <h5 class="margin-none">
                                            <a href="" class="text-inverse"
                                               style="margin-top: -10px;margin-left: -16px;">Social Admin Released</a>
                                        </h5>

                                        <div class="btn-group-vertical btn-group-sm" style="margin-top: 13px;">
                                            <a href="" class="btn btn-primary"
                                               style="width: 71px;height: 28px;margin-top: -24px;">
                                                <i class="fa fa-user" style="font-size: 13px;width: 11px;"></i>
                                                Follow
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="widget">
                    <h5 class="innerAll margin-none bg-primary">Recent News</h5>

                    <div class="widget-body padding-none">
                        <div class="media border-bottom innerAll margin-none">
                            <img src="assets/img/images/people/35/22.jpg" class="pull-left media-object"/>

                            <div class="media-body">
                                <a href="" class="pull-right text-muted innerT half">
                                    <i class="fa fa-comments"></i> 4
                                </a>
                                <h5 class="margin-none"><a href="" class="text-inverse">Social Admin Released</a></h5>
                                <small>on February 2nd, 2014</small>
                            </div>
                        </div>
                        <div class="media border-bottom innerAll margin-none">
                            <img src="assets/img/images/people/35/22.jpg" class="pull-left media-object"/>

                            <div class="media-body">
                                <a href="" class="pull-right text-muted innerT half">
                                    <i class="fa fa-comments"></i> 4
                                </a>
                                <h5 class="margin-none"><a href="" class="text-inverse">Timeline Cover Page</a></h5>
                                <small>on February 2nd, 2014</small>
                            </div>
                        </div>
                        <div class="media border-bottom innerAll margin-none">
                            <img src="assets/img/images/people/35/22.jpg" class="pull-left media-object"/>

                            <div class="media-body">
                                <a href="" class="pull-right text-muted innerT half">
                                    <i class="fa fa-comments"></i> 4
                                </a>
                                <h5 class="margin-none"><a href="" class="text-inverse">1000+ Sales</a></h5>
                                <small>on February 2nd, 2014</small>
                            </div>
                        </div>
                        <div class="media border-bottom innerAll margin-none">
                            <img src="assets/img/images/people/35/22.jpg" class="pull-left media-object"/>

                            <div class="media-body">
                                <a href="" class="pull-right text-muted innerT half">
                                    <i class="fa fa-comments"></i> 4
                                </a>
                                <h5 class="margin-none"><a href="" class="text-inverse">On-Page Optimization</a></h5>
                                <small>on February 2nd, 2014</small>
                            </div>
                        </div>
                        <div class="media border-bottom innerAll margin-none">
                            <img src="assets/img/images/people/35/22.jpg" class="pull-left media-object"/>

                            <div class="media-body">
                                <a href="" class="pull-right text-muted innerT half">
                                    <i class="fa fa-comments"></i> 4
                                </a>
                                <h5 class="margin-none"><a href="" class="text-inverse">14th Admin Template</a></h5>
                                <small>on February 2nd, 2014</small>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <!-- Blueimp Gallery -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev no-ajaxify">‹</a>
        <a class="next no-ajaxify">›</a>
        <a class="close no-ajaxify">×</a>
        <a class="play-pause no-ajaxify"></a>
        <ol class="indicator"></ol>
    </div>
    <!-- // Blueimp Gallery END -->


</div>
<!-- // Content END -->
