<div id="content" style="background: rgb(233, 233, 233);">
    <input id="pac-input" class="controls" type="text" placeholder="Search Box"/>

    <div class="innerAll">
        <div class="row" style="margin-left: 17px;margin-right: 23px;">
			<div class="div-map">
				<div id="map"
					 style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 308px; z-index: 0; transform: translateZ(0px); background-color: rgb(229, 227, 223);"></div>
				<div onclick="resizeMap()"  id="hideMapDiv" style="margin: 290px 0px 40px;width:100%;z-index: 1;"><a class="div-hide-map"><i class="fa fa-chevron-circle-up"></i><span>Hide map</span></a></div>
				<script>
					function resizeMap() {
						var hideMapDiv = document.getElementById('hideMapDiv');
						var map = document.getElementById('map');
						if (hideMapDiv.innerHTML.indexOf("Hide map")>-1) {
						hideMapDiv.style.marginTop = '40px';
						map.style.height = '58px';
						map.classList.add('transitionHideMap');
						hideMapDiv.classList.add('transitionHideMap');
						
						hideMapDiv.innerHTML = '<a class="div-hide-map"><i class="fa fa-chevron-circle-down"></i><span>Show map</span></a>';
						}
						else {
						map.style.height = '308px';
						hideMapDiv.style.marginTop = '290px';
						hideMapDiv.innerHTML = '<a class="div-hide-map"><i class="fa fa-chevron-circle-up"></i><span>Hide map</span></a>';
						}
					}
				</script>
			</div>
            <div class="timeline-cover">
                <div class="widget" style="background: none;border: none;">
				
                    <div class="widget-body padding-none margin-none">
                        <div class="container-1">
                               <div style="font-size: 30px;font-family: 'Proxima Nova','helvetica neue',helvetica,arial,sans-serif;margin: 20px"><b>Khám phá xu hướng thời trang xung quanh ta</b></div>
                            <section class="like-box">
                                <a href="//www.facebook.com/Lozi.vn" go-direct="true" class="fanpage-logo"></a>

                                <div class="fb-like fb_iframe_widget"
                                     data-href="https://www.facebook.com/TrendyPlus.vn" data-layout="standard"
                                     data-action="like" data-show-faces="true" data-share="false"
                                     fb-xfbml-state="rendered"
                                     fb-iframe-plugin-query="action=like&amp;app_id=600859170003466&amp;href=https%3A%2F%2Fwww.facebook.com%2FTrendyPlus.vn&amp;layout=standard&amp;locale=en_US&amp;sdk=joey&amp;share=false&amp;show_faces=true">
                                            <span style="vertical-align: bottom; width: 450px; height: 57px;"><iframe
                                                    name="f18e1a7ff" width="1000px" height="1000px" frameborder="0"
                                                    allowtransparency="true" scrolling="no"
                                                    title="fb:like Facebook Social Plugin"
                                                    src="http://www.facebook.com/v2.0/plugins/like.php?action=like&amp;app_id=600859170003466&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2F7r8gQb8MIqE.js%3Fversion%3D41%23cb%3Df10ee99eb8%26domain%3DTrendyPlus.vn%26origin%3Dhttp%253A%252F%252FTrendyPlus.vn%252Ff2cd1837a%26relation%3Dparent.parent&amp;href=https%3A%2F%2Fwww.facebook.com%2FTrendyPlus.vn&amp;layout=standard&amp;locale=en_US&amp;sdk=joey&amp;share=false&amp;show_faces=true"
                                                    style="border: none; visibility: visible; width: 450px; height: 57px;"
                                                    class=""></iframe></span></div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-controller="newfeedController">
                <div class="col-md-1 col-lg-1" style="width: 20%;">
                    <div class="blc-row" style="width: 282px;">
                        <!-- Main Sidebar Menu -->
                        <div id="menu" class="hidden-print hidden-xs sidebar-default sidebar-brand-primary"
                             style="position: absolute;height: 190px;background: #E9E9E9;width: 236px;">
                            <div id="sidebar-social-wrapper" style="border-radius: 5px 5px 5px 5px;">
                                <ul class="menu list-unstyled" style="background: white;">
                                    <li class="hasSubmenu" ng-class="{ active: newFeedType == 'trend' }" ng-click="sideBar('trend')">

                                        <a href="#/">


                                            <i class="icon-worldwide"></i>

                                            <span>Xu Hướng</span>
                                            <i class=" icon-chevron-right-thick" style="float: right;margin-right: -2px;"></i>

                                        </a>

                                    </li>
                                    <li class="hasSubmenu" ng-class="{ active: newFeedType == 'new' }" ng-click="sideBar('new')">

                                        <a href="#/">


                                            <i class="icon-fire"></i>

                                            <span>Đang Diễn Ra</span>
                                            <i class=" icon-chevron-right-thick" style="float: right;margin-right: -2px;"></i>

                                        </a>


                                    </li>
                                    <li class="hasSubmenu">

                                        <a href="#/">


                                            <i class="icon-star"></i>

                                            <span>Quan Tâm Của Bạn</span>
                                            <i class=" icon-chevron-right-thick" style="float: right;margin-right: -2px;"></i>

                                        </a>


                                    </li>
                                    <li class="hasSubmenu">

                                        <a href="#/">


                                            <i class="icon-location-1"></i>

                                            <span>Xung Quanh Đây</span>
                                            <i class=" icon-chevron-right-thick" style="float: right;margin-right: -2px;"></i>

                                        </a>


                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget" style="top: 210px;width: 236px;margin: 0px;border-radius: 5px 5px 0 0;" ng-if="popuparFollow.length>0">
                            <h5 class="innerAll margin-none" style="border-radius: 5px 5px 0 0;">PEOPLE YOU MAY WANT TO FOLLOW</h5>

                            <div class="widget-body padding-none">
                                <ul class="list-group list-group-1 borders-none margin-none">
                                    <li class="list-group-item" ng-repeat="user in popuparFollow">
                                        <div class="media border-bottom innerAll margin-none pull-left media-object" style="background: #fff;width: 234px;">
                                            <img ng-src="{{ user.picture_profile }}" class="pull-left media-object img-circle"
                                                 style="height: 36px;margin: 5px 4px;"/>

                                            <div class="media-body">
                                                <h5>
                                                    <a ng-href="#/user/{{user.id}}" class="text-inverse"
                                                       style="margin:-1px -10px;color: #767676;">{{ user.username }}</a>
                                                </h5>

                                                <!--<div class="btn-group-vertical btn-group-sm" style="margin-top: 13px;">-->
                                                    <a href=""
                                                       style="width: 71px;height: 28px;margin-top: -29px;margin-left: -9px;color: #327DEF;font-size: 11px;font-weight: normal;"
                                                       ng-click="following(user.id)">
                                                        <!--<i class="fa fa-user" style="font-size: 13px;width: 11px;"></i>-->
                                                        Follow
                                                    </a>
                                                <!--</div>-->
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div style="display: inline-block;margin: 2px;width: 234px;top: 227px;position: relative;">
                            <div class="widget border-none bg-none widget-pinterest active" ng-repeat="point in postsFifthRow" style="-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);border-radius: 6px;">
                                <div class="widget-body bg-none padding-none" style="-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);box-shadow: 2px 2px rgba(0, 0, 0, 0.22);border-radius: 6px;">
                                    <a ng-href="#/" ng-click="showDialog(point.id)"
                                       data-toggle="prettyPhoto" class="thumb">
                                        <img ng-src="{{ point.image_url_editor }}"
                                             alt="photo"/>
                                    </a>

                                    <div class="description  meta">
                                        <div class="hover-blue">
                                            <div class="title">
                                                <a data-track="photo-click" ng-href="#/" class="title">
                                                    {{ point.caption }}
                                                </a>
                                            </div>
                                            <div class="attribution-block" style="height: 7px;margin-top: 6px;">
    										<span class="attribution"><span>bởi </span>
    										<a data-track="owner" ng-href="#/user/{{point.user_id}}"
                                               class="owner">{{ point.user.username }}</a></span>
                                            </div>
                                        </div>
    								<span class="inline-icons" style="font-size: 11px;">
    									<img width="12" height="12" alt="[★]"
                                             src="https://s.yimg.com/pw/images/spaceball.gif"
                                             style="background: rgba(150, 25, 25, 0) url(https://s.yimg.com/pw/images/sprites/icons/fav.png) no-repeat scroll center;background-size: contain;margin-right: -3px;vertical-align: top;margin-top: -1px;width: 15px;height: 15px;">
    									<a data-track="favorite" href="#" class="rapidnofollow fave-star-inline canfave"
                                           onMouseOver="this.style.color='white'"
                                           onMouseOut="this.style.color='white'"
                                           title="Thêm ảnh này vào ảnh yêu thích của bạn?">
                                            <span class="fave-count count" style="margin-right: 3px;">99+</span>
                                        </a>
    									<i class="fa fa-smile-o" style="color: white;"></i>
    									<a title="Lời bình" href="#"
                                           class="rapidnofollow comments-icon comments-inline-btn"
                                           onMouseOver="this.style.color='white'"
                                           onMouseOut="this.style.color='white'">
                                            <span class="comment-count count">{{ post.like.length }}</span>
                                        </a>
    								</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-11 col-md-11" style="width: 80%;">
                    <!-- <div data-toggle="gridalicious" data-gridalicious-width="380" data-gridalicious-gutter="0"> -->
                    <div class="blc-row" infinite-scroll='nextPage()' infinite-scroll-disabled='busy' infinite-scroll-distance='1'>
                        <div class="widget border-none bg-none widget-pinterest active" ng-repeat="point in postsLeft" style="-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);border-radius: 6px;">
                            <div class="widget-body bg-none padding-none" style="-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);box-shadow: 2px 2px rgba(0, 0, 0, 0.22);border-radius: 6px;">
                                <a ng-href="#/" ng-click="showDialog(point.id)"
                                   data-toggle="prettyPhoto" class="thumb">
                                    <img ng-src="{{ point.image_url_editor }}"
                                         alt="photo"/>
                                </a>

                                <div class="description  meta">
                                    <div class="hover-blue">
                                        <div class="title">
                                            <a data-track="photo-click" ng-href="#/" class="title">
                                                {{ point.caption }}
                                            </a>
                                        </div>
                                        <div class="attribution-block" style="height: 7px;margin-top: 6px;">
    										<span class="attribution"><span>bởi </span>
    										<a data-track="owner" ng-href="#/user/{{point.user_id}}"
                                               class="owner">{{ point.user.username }}</a></span>
                                        </div>
                                    </div>
    								<span class="inline-icons" style="font-size: 11px;">
    									<img width="12" height="12" alt="[★]"
                                             src="https://s.yimg.com/pw/images/spaceball.gif"
                                             style="background: rgba(150, 25, 25, 0) url(https://s.yimg.com/pw/images/sprites/icons/fav.png) no-repeat scroll center;background-size: contain;margin-right: -3px;vertical-align: top;margin-top: -1px;width: 15px;height: 15px;">
    									<a data-track="favorite" href="#" class="rapidnofollow fave-star-inline canfave"
                                           onMouseOver="this.style.color='white'"
                                           onMouseOut="this.style.color='white'"
                                           title="Thêm ảnh này vào ảnh yêu thích của bạn?">
                                            <span class="fave-count count" style="margin-right: 3px;">99+</span>
                                        </a>
    									<i class="fa fa-smile-o" style="color: white;"></i>
    									<a title="Lời bình" href="#"
                                           class="rapidnofollow comments-icon comments-inline-btn"
                                           onMouseOver="this.style.color='white'"
                                           onMouseOut="this.style.color='white'">
                                            <span class="comment-count count">{{ post.like.length }}</span>
                                        </a>
    								</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="blc-row">
                        <div class="widget border-none bg-none widget-pinterest" ng-repeat="point in postsRight" style="-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);border-radius: 6px;">
                            <div class="widget-body bg-none padding-none" style="-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);box-shadow: 2px 2px rgba(0, 0, 0, 0.22);border-radius: 6px;">
                                <a href="#/" data-toggle="prettyPhoto" class="thumb" ng-click="showDialog(point.id)">
                                    <img ng-src="{{ point.image_url_editor }}" alt="photo"/>
                                </a>

                                <div class="description  meta">
                                    <div class="hover-blue">
                                        <div class="title">
                                            <a data-track="photo-click" ng-href="#/" class="title">
                                                {{ point.caption }}
                                            </a>
                                        </div>
                                        <div class="attribution-block" style="height: 7px;margin-top: 6px;">
    										<span class="attribution"><span>bởi </span>
    										<a data-track="owner" ng-href="#/user/{{point.user_id}}"
                                               class="owner">{{ point.user.username }}</a></span>
                                        </div>
                                    </div>
    								<span class="inline-icons" style="font-size: 11px;">
    									<img width="12" height="12" alt="[★]"
                                             src="https://s.yimg.com/pw/images/spaceball.gif"
                                             style="background: rgba(150, 25, 25, 0) url(https://s.yimg.com/pw/images/sprites/icons/fav.png) no-repeat scroll center;background-size: contain;margin-right: -3px;vertical-align: top;margin-top: -1px;width: 15px;height: 15px;">
    									<a data-track="favorite" href="#" class="rapidnofollow fave-star-inline canfave"
                                           onMouseOver="this.style.color='white'"
                                           onMouseOut="this.style.color='white'">
                                            <span class="fave-count count" style="margin-right: 3px;">99+</span>
                                        </a>
    									<i class="fa fa-smile-o" style="color: white;"></i>
    									<a title="Lời bình" href="#"
                                           class="rapidnofollow comments-icon comments-inline-btn"
                                           onMouseOver="this.style.color='white'"
                                           onMouseOut="this.style.color='white'">
                                            <span class="comment-count count">{{ post.like }}</span>
                                        </a>
    								</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blc-row">
                        <div class="widget border-none bg-none widget-pinterest" ng-repeat="point in postsThirdRow" style="-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);border-radius: 6px;">
                            <div class="widget-body bg-none padding-none" style="-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);box-shadow: 2px 2px rgba(0, 0, 0, 0.22);border-radius: 6px;">
                                <a href="#/" data-toggle="prettyPhoto" class="thumb" ng-click="showDialog(point.id)">
                                    <img ng-src="{{ point.image_url_editor }}" alt="photo"/>
                                </a>

                                <div class="description  meta">
                                    <div class="hover-blue">
                                        <div class="title">
                                            <a data-track="photo-click" ng-href="#/" class="title">
                                                {{ point.caption }}
                                            </a>
                                        </div>
                                        <div class="attribution-block" style="height: 7px;margin-top: 6px;">
    										<span class="attribution"><span>bởi </span>
    										<a data-track="owner" ng-href="#/user/{{point.user_id}}"
                                               class="owner">{{ point.user.username }}</a></span>
                                        </div>
                                    </div>
    								<span class="inline-icons" style="font-size: 11px;">
    									<img width="12" height="12" alt="[★]"
                                             src="https://s.yimg.com/pw/images/spaceball.gif"
                                             style="background: rgba(150, 25, 25, 0) url(https://s.yimg.com/pw/images/sprites/icons/fav.png) no-repeat scroll center;background-size: contain;margin-right: -3px;vertical-align: top;margin-top: -1px;width: 15px;height: 15px;">
    									<a data-track="favorite" href="#" class="rapidnofollow fave-star-inline canfave"
                                           onMouseOver="this.style.color='white'"
                                           onMouseOut="this.style.color='white'">
                                            <span class="fave-count count" style="margin-right: 3px;">99+</span>
                                        </a>
    									<i class="fa fa-smile-o" style="color: white;"></i>
    									<a title="Lời bình" href="#"
                                           class="rapidnofollow comments-icon comments-inline-btn"
                                           onMouseOver="this.style.color='white'"
                                           onMouseOut="this.style.color='white'">
                                            <span class="comment-count count">{{ post.like }}</span>
                                        </a>
    								</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blc-row">
                        <div class="widget border-none bg-none widget-pinterest" ng-repeat="point in postsFourthRow" style="-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);border-radius: 6px;">
                            <div class="widget-body bg-none padding-none " style="-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);box-shadow: 2px 2px rgba(0, 0, 0, 0.22);border-radius: 6px;">
                                <a href="#/" data-toggle="prettyPhoto" class="thumb" ng-click="showDialog(point.id)">
                                    <img ng-src="{{ point.image_url_editor }}" alt="photo"/>
                                </a>

                                <div class="description  meta">
                                    <div class="hover-blue">
                                        <div class="title" >
                                            <a data-track="photo-click" ng-href="#/" class="title">
                                                {{ point.caption }}
                                            </a>
                                        </div>
                                        <div class="attribution-block" style="height: 7px;margin-top: 6px;">
    										<span class="attribution"><span>bởi </span>
    										<a data-track="owner" ng-href="#/user/{{point.user_id}}"
                                               class="owner">{{ point.user.username }}</a></span>
                                        </div>
                                    </div>
    								<span class="inline-icons" style="font-size: 11px;">
    									<img width="12" height="12" alt="[★]"
                                             src="https://s.yimg.com/pw/images/spaceball.gif"
                                             style="background: rgba(150, 25, 25, 0) url(https://s.yimg.com/pw/images/sprites/icons/fav.png) no-repeat scroll center;background-size: contain;margin-right: -3px;vertical-align: top;margin-top: -1px;width: 15px;height: 15px;">
    									<a data-track="favorite" href="#" class="rapidnofollow fave-star-inline canfave"
                                           onMouseOver="this.style.color='white'"
                                           onMouseOut="this.style.color='white'">
                                            <span class="fave-count count" style="margin-right: 3px;">99+</span>
                                        </a>
    									<i class="fa fa-smile-o" style="color: white;"></i>
    									<a title="Lời bình" href="#"
                                           class="rapidnofollow comments-icon comments-inline-btn"
                                           onMouseOver="this.style.color='white'"
                                           onMouseOut="this.style.color='white'">
                                            <span class="comment-count count">{{ post.like }}</span>
                                        </a>
    								</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center" ng-show="busy"><span class="fa fa-meh-o fa-5x fa-spin"></span></p>
                </div>
            </div>
        </div>


    </div>
    <!-- // Content END -->


</div>
