<div id="content">
    <input id="pac-input" class="controls" type="text" placeholder="Search Box"/>

    <div class="innerAll">
        <div class="row" style="margin-left: 17px;margin-right: 23px;">
            <div id="map"
                 style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 420px; z-index: 0; transform: translateZ(0px); background-color: rgb(229, 227, 223);"></div>
            <div class="timeline-cover">
                <div class="widget" style="margin: 470px 0px 40px;background: none;border: none;">
                    <div class="widget-body padding-none margin-none">
                        <div class="container-1">
                            <h1 id="slogan"><b>
                                Khám phá xu hướng thời trang xung quanh ta</b>
                            </h1>
                            <section class="like-box">
                                <a href="//www.facebook.com/Lozi.vn" go-direct="true" class="fanpage-logo"></a>

                                <div class="fb-like fb_iframe_widget"
                                     data-href="https://www.facebook.com/TrendyPlus.vn" data-layout="standard"
                                     data-action="like" data-show-faces="true" data-share="false"
                                     fb-xfbml-state="rendered"
                                     fb-iframe-plugin-query="action=like&amp;app_id=600859170003466&amp;href=https%3A%2F%2Fwww.facebook.com%2FTrendyPlus.vn&amp;layout=standard&amp;locale=en_US&amp;sdk=joey&amp;share=false&amp;show_faces=true">
                                            <span style="vertical-align: bottom; width: 450px; height: 57px;"><iframe
                                                    name="f18e1a7ff" width="1000px" height="1000px" frameborder="0"
                                                    allowtransparency="true" scrolling="no"
                                                    title="fb:like Facebook Social Plugin"
                                                    src="http://www.facebook.com/v2.0/plugins/like.php?action=like&amp;app_id=600859170003466&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2F7r8gQb8MIqE.js%3Fversion%3D41%23cb%3Df10ee99eb8%26domain%3DTrendyPlus.vn%26origin%3Dhttp%253A%252F%252FTrendyPlus.vn%252Ff2cd1837a%26relation%3Dparent.parent&amp;href=https%3A%2F%2Fwww.facebook.com%2FTrendyPlus.vn&amp;layout=standard&amp;locale=en_US&amp;sdk=joey&amp;share=false&amp;show_faces=true"
                                                    style="border: none; visibility: visible; width: 450px; height: 57px;"
                                                    class=""></iframe></span></div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-controller="newfeedController">
                <div class="col-md-3 col-lg-3">
                    <div class="blc-row" style="width: 282px;">
                        <!-- Main Sidebar Menu -->
                        <div id="menu" class="hidden-print hidden-xs sidebar-default sidebar-brand-primary"
                             style="position: absolute;height: 380px;background: #F9F3F3;">
                            <div id="sidebar-social-wrapper">
                                <ul class="menu list-unstyled" style="background: #FDFAFA;">
                                    <li class="hasSubmenu active">

                                        <a href="#menu-4c92ef26818fe5b83682c306e8efc065">


                                            <i class="icon-worldwide"></i>

                                            <span>Đang Diễn Ra</span>


                                        </a>

                                    </li>
                                    <li class="hasSubmenu">

                                        <a href="#menu-ed789274112713f5e5f0b5773b88ac06">


                                            <i class="icon-star"></i>

                                            <span>Quan Tâm Của Bạn</span>


                                        </a>


                                    </li>
                                    <li class="hasSubmenu">

                                        <a href="#menu-45924cbfa0258264ff1cf22a3e571833">


                                            <i class="icon-fire"></i>

                                            <span>Xu Hướng</span>


                                        </a>


                                    </li>
                                    <li class="hasSubmenu">

                                        <a href="#menu-c46c57fea3f9344d1e2c167218808e69">


                                            <i class="icon-location-1"></i>

                                            <span>Xung Quanh Đây</span>


                                        </a>


                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6" >
                    <!-- <div data-toggle="gridalicious" data-gridalicious-width="380" data-gridalicious-gutter="0"> -->
                    <div class="blc-row" infinite-scroll='loadMore()' infinite-scroll-disabled='busy'>
                        <div class="widget border-none bg-none widget-pinterest active" ng-repeat="point in postsLeft">
                            <div class="widget-body bg-none padding-none">
                                <a ng-href="#/" ng-click="showDialog(point.id)"
                                   data-toggle="prettyPhoto" class="thumb">
                                    <img ng-src="{{ point.image_url_editor }}"
                                         alt="photo"/>
                                </a>

                                <div class="description  meta">
                                    <div class="hover-blue">
                                        <div class="title">
                                            <a data-track="photo-click" ng-href="#/" class="title">
                                                {{ point.caption }}
                                            </a>
                                        </div>
                                        <div class="attribution-block" style="height: 7px;margin-top: 6px;">
    										<span class="attribution"><span>bởi </span>
    										<a data-track="owner" ng-href="#/user/{{point.user_id}}"
                                               class="owner">{{ point.user.username }}</a></span>
                                        </div>
                                    </div>
    								<span class="inline-icons" style="font-size: 11px;">
    									<img width="12" height="12" alt="[★]"
                                             src="https://s.yimg.com/pw/images/spaceball.gif"
                                             style="background: rgba(150, 25, 25, 0) url(https://s.yimg.com/pw/images/sprites/icons/fav.png) no-repeat scroll center;background-size: contain;margin-right: -3px;vertical-align: top;margin-top: -1px;width: 15px;height: 15px;">
    									<a data-track="favorite" href="#" class="rapidnofollow fave-star-inline canfave"
                                           onMouseOver="this.style.color='white'"
                                           onMouseOut="this.style.color='white'"
                                           title="Thêm ảnh này vào ảnh yêu thích của bạn?">
                                            <span class="fave-count count" style="margin-right: 3px;">99+</span>
                                        </a>
    									<i class="fa fa-smile-o" style="color: white;"></i>
    									<a title="Lời bình" href="#"
                                           class="rapidnofollow comments-icon comments-inline-btn"
                                           onMouseOver="this.style.color='white'"
                                           onMouseOut="this.style.color='white'">
                                            <span class="comment-count count">{{ post.like }}</span>
                                        </a>
    								</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="blc-row">
                        <div class="widget border-none bg-none widget-pinterest" ng-repeat="point in postsRight">
                            <div class="widget-body bg-none padding-none">
                                <a href="#/" data-toggle="prettyPhoto" class="thumb" ng-click="showDialog(point.id)">
                                    <img ng-src="{{ point.image_url_editor }}" alt="photo"/>
                                </a>

                                <div class="description  meta">
                                    <div class="hover-blue">
                                        <div class="title" id="yui_3_11_0_3_1419092456557_1068">
                                            <a data-track="photo-click" ng-href="#/" class="title">
                                                {{ point.caption }}
                                            </a>
                                        </div>
                                        <div class="attribution-block" style="height: 7px;margin-top: 6px;">
    										<span class="attribution"><span>bởi </span>
    										<a data-track="owner" ng-href="#/user/{{point.user_id}}"
                                               class="owner">{{ point.user.username }}</a></span>
                                        </div>
                                    </div>
    								<span class="inline-icons" style="font-size: 11px;">
    									<img width="12" height="12" alt="[★]"
                                             src="https://s.yimg.com/pw/images/spaceball.gif"
                                             style="background: rgba(150, 25, 25, 0) url(https://s.yimg.com/pw/images/sprites/icons/fav.png) no-repeat scroll center;background-size: contain;margin-right: -3px;vertical-align: top;margin-top: -1px;width: 15px;height: 15px;">
    									<a data-track="favorite" href="#" class="rapidnofollow fave-star-inline canfave"
                                           onMouseOver="this.style.color='white'"
                                           onMouseOut="this.style.color='white'">
                                            <span class="fave-count count" style="margin-right: 3px;">99+</span>
                                        </a>
    									<i class="fa fa-smile-o" style="color: white;"></i>
    									<a title="Lời bình" href="#"
                                           class="rapidnofollow comments-icon comments-inline-btn"
                                           onMouseOver="this.style.color='white'"
                                           onMouseOut="this.style.color='white'">
                                            <span class="comment-count count">{{ post.like }}</span>
                                        </a>
    								</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center" ng-show="busy"><span class="fa fa-meh-o fa-5x fa-spin"></span></p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">

                <div class="widget">
                    <h5 class="innerAll margin-none bg-primary">Recent News</h5>

                    <div class="widget-body padding-none">
                        <div class="media border-bottom innerAll margin-none">
                            <img src="assets/img/images/people/35/22.jpg" class="pull-left media-object"/>

                            <div class="media-body">
                                <a href="" class="pull-right text-muted innerT half">
                                    <i class="fa fa-comments"></i> 4
                                </a>
                                <h5 class="margin-none"><a href="" class="text-inverse">Trendy +</a></h5>
                                <small>on February 2nd, 2014</small>
                            </div>
                        </div>
                        <div class="media border-bottom innerAll margin-none">
                            <img src="assets/img/images/people/35/22.jpg" class="pull-left media-object"/>

                            <div class="media-body">
                                <a href="" class="pull-right text-muted innerT half">
                                    <i class="fa fa-comments"></i> 4
                                </a>
                                <h5 class="margin-none"><a href="" class="text-inverse">Timeline Cover Page</a>
                                </h5>
                                <small>on February 2nd, 2014</small>
                            </div>
                        </div>
                        <div class="media border-bottom innerAll margin-none">
                            <img src="assets/img/images/people/35/22.jpg" class="pull-left media-object"/>

                            <div class="media-body">
                                <a href="" class="pull-right text-muted innerT half">
                                    <i class="fa fa-comments"></i> 4
                                </a>
                                <h5 class="margin-none"><a href="" class="text-inverse">1000+ Sales</a></h5>
                                <small>on February 2nd, 2014</small>
                            </div>
                        </div>
                        <div class="media border-bottom innerAll margin-none">
                            <img src="assets/img/images/people/35/22.jpg" class="pull-left media-object"/>

                            <div class="media-body">
                                <a href="" class="pull-right text-muted innerT half">
                                    <i class="fa fa-comments"></i> 4
                                </a>
                                <h5 class="margin-none"><a href="" class="text-inverse">On-Page Optimization</a>
                                </h5>
                                <small>on February 2nd, 2014</small>
                            </div>
                        </div>
                        <div class="media border-bottom innerAll margin-none">
                            <img src="assets/img/images/people/35/22.jpg" class="pull-left media-object"/>

                            <div class="media-body">
                                <a href="" class="pull-right text-muted innerT half">
                                    <i class="fa fa-comments"></i> 4
                                </a>
                                <h5 class="margin-none"><a href="" class="text-inverse">14th Admin Template</a>
                                </h5>
                                <small>on February 2nd, 2014</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget">
                    <h5 class="innerAll margin-none bg-primary">PEOPLE YOU MAY KNOW</h5>

                    <div class="widget-body padding-none">
                        <ul class="list-group list-group-1 borders-none margin-none">
                            <li class="list-group-item">
                                <div class="media border-bottom innerAll margin-none">
                                    <img src="assets/img/images/people/35/22.jpg" class="pull-left media-object"
                                         style="height: 44px;"/>

                                    <div class="media-body">
                                        <h5 class="margin-none">
                                            <a href="" class="text-inverse"
                                               style="margin-top: -10px;margin-left: -16px;">Social Admin
                                                Released</a>
                                        </h5>

                                        <div class="btn-group-vertical btn-group-sm" style="margin-top: 13px;">
                                            <a href="" class="btn btn-primary"
                                               style="width: 71px;height: 28px;margin-top: -24px;">
                                                <i class="fa fa-user" style="font-size: 13px;width: 11px;"></i>
                                                Follow
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media border-bottom innerAll margin-none">
                                    <img src="assets/img/images/people/35/22.jpg" class="pull-left media-object"
                                         style="height: 44px;"/>

                                    <div class="media-body">
                                        <h5 class="margin-none">
                                            <a href="" class="text-inverse"
                                               style="margin-top: -10px;margin-left: -16px;">Social Admin
                                                Released</a>
                                        </h5>

                                        <div class="btn-group-vertical btn-group-sm" style="margin-top: 13px;">
                                            <a href="" class="btn btn-primary"
                                               style="width: 71px;height: 28px;margin-top: -24px;">
                                                <i class="fa fa-user" style="font-size: 13px;width: 11px;"></i>
                                                Follow
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media border-bottom innerAll margin-none">
                                    <img src="assets/img/images/people/35/22.jpg" class="pull-left media-object"
                                         style="height: 44px;"/>

                                    <div class="media-body">
                                        <h5 class="margin-none">
                                            <a href="" class="text-inverse"
                                               style="margin-top: -10px;margin-left: -16px;">Social Admin
                                                Released</a>
                                        </h5>

                                        <div class="btn-group-vertical btn-group-sm" style="margin-top: 13px;">
                                            <a href="" class="btn btn-primary"
                                               style="width: 71px;height: 28px;margin-top: -24px;">
                                                <i class="fa fa-user" style="font-size: 13px;width: 11px;"></i>
                                                Follow
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- // Content END -->


</div>
