<!--<div id="shop">-->
<!--<form id="form">-->
<p class="para">Nếu vị trí không chính xác, hãy ghim đúng vị trí</p>
<table width="105%">
    <tr>
        <td width="50%">
            <h1 class="h1">Đường</h1>
            <input type="textbox" class="one text"/>
        </td>
        <td>
            <h1 class="h1">Quận/Huyện</h1>
            <input type="textbox" class="one text"/>
        </td>
    </tr>
    <tr>
        <td>
            <h1 class="h1">Tỉnh/Thành Phố</h1>
            <input type="textbox" class="one text"/>
        </td>
        <td>
            <h1 class="h1">Khu vực</h1>
            <input type="textbox" class="one text"/>
        </td>
    </tr>
</table>
<p class="guide para">Chỉ đường</p>
<input type="textbox" class="two text"/>
<div class="input-group1" ng-class="infoOpen == true ? 'open': '' ">
    <div class="infor tabt" role="toggle" ng-click="infoShopToggle()">
        <div class="labelinfo">Thông tin cơ bản</div>
        <div class="value">
        </div>
    </div>
    <!--<input type="button" value="Thông tin cơ bản" class="infor tabt"/>-->
    <div class="fieldset">
        <p class="guide para">Tên shop</p>
        <input type="textbox" class="five text"/>
        <p class="guide para">Thời gian mở cửa</p>
        <p class="guide para">Từ <span><input type="textbox" class="four text"/></span>Đến<input type="textbox" class="four text"/></p>
        <a href="" class="a">Hoàn thành</a>
    </div>
</div>

<div class="input-group1" ng-class="serviceOpen == true ? 'open': '' ">
    <div class="service tabt" role="toggle" ng-click="serviceShopToggle()">
        <div class="labelinfo">Thông tin dịch vụ</div>
        <div class="value">
        </div>
    </div>
    <!--<input type="button" value="Thông tin dịch vụ" class="service tabt"/>-->
    <div class="fieldset">
    <table width="100%" style="margin: -8px -23px;">
        <tr>
            <td><p class="pos-service para">Phục vụ</p></td>
        </tr>
        <tr>
            <td width="20%">
                <p class="pos-service-one para">Buổi sáng</p>
            </td>
            <td width="10%">
                <div class="container">
                    <label class="switch">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="Yes" data-off="No"></span>
                        <span class="switch-handle"></span>
                    </label>
                </div>
            </td>
            <td width="20%">
                <p class="pos-service-one para">Buổi trưa</p>
            </td>
            <td>
                <div class="container">
                    <label class="switch">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="Yes" data-off="No"></span>
                        <span class="switch-handle"></span>
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <p class="pos-service-one para">Buổi chiều</p>
            </td>
            <td width="10%">
                <div class="container">
                    <label class="switch">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="Yes" data-off="No"></span>
                        <span class="switch-handle"></span>
                    </label>
                </div>
            </td>
            <td>
                <p class="pos-service-one para">Buổi tối</p>
            </td>
            <td width="10%">
                <div class="container">
                    <label class="switch">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="Yes" data-off="No"></span>
                        <span class="switch-handle"></span>
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td><p class="pos-service para">Tiện ích</p></td>
        </tr>
        <tr>
            <td>
                <p class="pos-service-one para">Dịch vụ vận chuyển</p>
            </td>
            <td width="10%">
                <div class="container">
                    <label class="switch">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="Yes" data-off="No"></span>
                        <span class="switch-handle"></span>
                    </label>
                </div>
            </td>
            <td>
                <p class="pos-service-one para">Thanh toán bằng thẻ</p>
            </td>
            <td width="10%">
                <div class="container">
                    <label class="switch">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="Yes" data-off="No"></span>
                        <span class="switch-handle"></span>
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <p class="pos-service-one para">Điều hòa</p>
            </td>
            <td width="10%">
                <div class="container">
                    <label class="switch">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="Yes" data-off="No"></span>
                        <span class="switch-handle"></span>
                    </label>
                </div>
            </td>
            <td>
                <p class="pos-service-one para">Phục vụ tận tình</p>
            </td>
            <td width="10%">
                <div class="container">
                    <label class="switch">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="Yes" data-off="No"></span>
                        <span class="switch-handle"></span>
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td><p class="pos-service para">Đối tượng</p></td>
        </tr>
        <tr>
            <td>
                <p class="pos-service-one para">Trẻ nhỏ</p>
            </td>
            <td width="10%">
                <div class="container">
                    <label class="switch">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="Yes" data-off="No"></span>
                        <span class="switch-handle"></span>
                    </label>
                </div>
            </td>
            <td>
                <p class="pos-service-one para">Thanh - Thiếu niên</p>
            </td>
            <td width="10%">
                <div class="container">
                    <label class="switch">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="Yes" data-off="No"></span>
                        <span class="switch-handle"></span>
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <p class="pos-service-one para">Trung niên</p>
            </td>
            <td width="10%">
                <div class="container">
                    <label class="switch">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="Yes" data-off="No"></span>
                        <span class="switch-handle"></span>
                    </label>
                </div>
            </td>
            <td>
                <p class="pos-service-one para">Người già</p>
            </td>
            <td width="10%">
                <div class="container">
                    <label class="switch">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="Yes" data-off="No"></span>
                        <span class="switch-handle"></span>
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <p class="pos-service-one para">Đồ nam</p>
            </td>
            <td width="10%">
                <div class="container">
                    <label class="switch">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="Yes" data-off="No"></span>
                        <span class="switch-handle"></span>
                    </label>
                </div>
            </td>
            <td>
                <p class="pos-service-one para">Đồ nữ</p>
            </td>
            <td width="10%">
                <div class="container">
                    <label class="switch">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="Yes" data-off="No"></span>
                        <span class="switch-handle"></span>
                    </label>
                </div>
            </td>
        </tr>
    </table>
    <a href="" class="a">Hoàn thành</a>
    </div>
</div>

<div class="input-group1" ng-class="contactOpen == true ? 'open': '' ">
    <div class="contact tabt" role="toggle" ng-click="contactShopToggle()">
        <div class="labelinfo">Thông tin liên lạc</div>
        <div class="value">
        </div>
    </div>
    <!--<input type="button" value="Thông tin liên lạc" class="contact tabt"/>-->
    <div class="fieldset">
        <p class="pos para">Điện thoại<span><input type="textbox" class="six text"/></span></p>
        <p class="pos para">Website&nbsp;&nbsp;&nbsp;<span><input type="textbox" class="six text"/></span></p>
        <p class="pos para">Facebook<span><input type="textbox" class="six text"/></span></p>
        <a href="" class="a">Hoàn thành</a>
    </div>
</div>
<!--</form>-->
<!--</div>-->