<div class="dialog-contents" style="margin-left: -8px;">
    <table width="105%" style="margin-bottom: 15px;">
        <tr>
            <td width="50%">
                <h1 class="h1">Street</h1>
                <input type="textbox" class="one text" ng-model="street"/>
            </td>
            <td>
                <h1 class="h1">District</h1>
                <input type="textbox" class="one text" ng-model="district"/>
            </td>
        </tr>
        <tr>
            <td>
                <h1 class="h1">City</h1>
                <input type="textbox" class="one text" ng-model="city"/>
            </td>
            <td>
                <h1 class="h1">Place</h1>
                <input type="textbox" class="one text" ng-model="near_place"/>
            </td>
        </tr>
    </table>
    <p class="guide para">Way Direction</p>
    <input type="textbox" class="two text" ng-model="way_direction"/>
    <div class="input-group1" ng-class="infoOpen == true ? 'open': '' ">
        <div class="infor tabt" role="toggle" ng-click="infoShopToggle()">
            <div class="labelinfo">Basic Information</div>
            <div class="value">
                <!--<p ng-if="shop.shop_detail[0].name != null">-->
                    <!--Shop name:-->
                    <!--<span class="normal-weight">{{ shop.shop_detail[0].name }}</span>-->
                    <!--<br>-->
                <!--</p>-->
            </div>
        </div>
        <div class="fieldset">
            <p class="guide para">Shop name</p>
            <input type="textbox" class="five text" ng-model="shop_name"/>
            <p class="guide para" style="margin-top: 15px;">Time open</p>
            <p class="guide para">
                From
                <span>
                    <input type="time"  class="four text"  ng-model="time_open"/>
                </span>
                To
                    <input type="time" class="four text"  ng-model="time_close"/>
            </p>
            <p class="guide para">Price Amount</p>
            <p class="guide para">
                From
                <span>
                    <input type="number" min="1" step="1" class="four text"  ng-model="price_from"/>.000đ&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
                To
                    <input type="number" min="1" step="1"  class="four text" ng-model="price_to" />.000đ
            </p>
            <a href="" ng-click="saveInfoShop()" class="a">Save</a>
        </div>
    </div>

    <div class="input-group1" ng-class="serviceOpen == true ? 'open': '' ">
        <div class="service tabt" role="toggle" ng-click="serviceShopToggle()">
            <div class="labelinfo">Service Information</div>
            <div class="value">
            </div>
        </div>
        <div class="fieldset">
        <table width="100%" style="margin: -8px -23px;">
            <tr>
                <td><p class="pos-service para" style="font-size: 110%;">Servicing time</p></td>
            </tr>
            <tr>
                <td width="10%" style="padding-left: 10px;">
                    <p class="pos-service-one para">Morning</p>
                </td>
                <td width="10%">
                    <div class="container">
                        <label class="switch">
                            <input type="checkbox" class="switch-input"  ng-model="morning">
                            <span class="switch-label" data-on="Yes" data-off="No"></span>
                            <span class="switch-handle"></span>
                        </label>
                    </div>
                </td>
                <td width="10%" style="padding-left: 10px;">
                    <p class="pos-service-one para">Midday</p>
                </td>
                <td>
                    <div class="container">
                        <label class="switch">
                            <input type="checkbox" class="switch-input"  ng-model="midday">
                            <span class="switch-label" data-on="Yes" data-off="No"></span>
                            <span class="switch-handle"></span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding-left: 10px;">
                    <p class="pos-service-one para">Afternoon</p>
                </td>
                <td width="10%">
                    <div class="container">
                        <label class="switch">
                            <input type="checkbox" class="switch-input"  ng-model="afternoon">
                            <span class="switch-label" data-on="Yes" data-off="No"></span>
                            <span class="switch-handle"></span>
                        </label>
                    </div>
                </td>
                <td style="padding-left: 10px;">
                    <p class="pos-service-one para">Night</p>
                </td>
                <td width="10%">
                    <div class="container">
                        <label class="switch">
                            <input type="checkbox" class="switch-input"   ng-model="evening">
                            <span class="switch-label" data-on="Yes" data-off="No"></span>
                            <span class="switch-handle"></span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td><p class="pos-service para" style="font-size: 110%;">Service</p></td>
            </tr>
            <tr>
                <td style="padding-left: 10px;">
                    <p class="pos-service-one para">Shipping service</p>
                </td>
                <td width="10%">
                    <div class="container">
                        <label class="switch">
                            <input type="checkbox" class="switch-input"  ng-model="shipping">
                            <span class="switch-label" data-on="Yes" data-off="No"></span>
                            <span class="switch-handle"></span>
                        </label>
                    </div>
                </td>
                <td style="padding-left: 10px;">
                    <p class="pos-service-one para">Payment by card</p>
                </td>
                <td width="10%">
                    <div class="container">
                        <label class="switch">
                            <input type="checkbox" class="switch-input"  ng-model="credit_card">
                            <span class="switch-label" data-on="Yes" data-off="No"></span>
                            <span class="switch-handle"></span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding-left: 10px;">
                    <p class="pos-service-one para">Air conditioning</p>
                </td>
                <td width="10%">
                    <div class="container">
                        <label class="switch">
                            <input type="checkbox" class="switch-input"  ng-model="cooler">
                            <span class="switch-label" data-on="Yes" data-off="No"></span>
                            <span class="switch-handle"></span>
                        </label>
                    </div>
                </td>
                <td style="padding-left: 10px;">
                    <p class="pos-service-one para">Parking service</p>
                </td>
                <td width="10%">
                    <div class="container">
                        <label class="switch">
                            <input type="checkbox" class="switch-input"  ng-model="parking">
                            <span class="switch-label" data-on="Yes" data-off="No"></span>
                            <span class="switch-handle"></span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td><p class="pos-service para" style="font-size: 110%;">People</p></td>
            </tr>
            <tr>
                <td style="padding-left: 10px;">
                    <p class="pos-service-one para">Children</p>
                </td>
                <td width="10%">
                    <div class="container">
                        <label class="switch">
                            <input type="checkbox" class="switch-input"  ng-model="children">
                            <span class="switch-label" data-on="Yes" data-off="No"></span>
                            <span class="switch-handle"></span>
                        </label>
                    </div>
                </td>
                <td style="padding-left: 10px;">
                    <p class="pos-service-one para">Teenage</p>
                </td>
                <td width="10%">
                    <div class="container">
                        <label class="switch">
                            <input type="checkbox" class="switch-input"  ng-model="teen">
                            <span class="switch-label" data-on="Yes" data-off="No"></span>
                            <span class="switch-handle"></span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding-left: 10px;">
                    <p class="pos-service-one para">Middle-aged</p>
                </td>
                <td width="10%">
                    <div class="container">
                        <label class="switch">
                            <input type="checkbox" class="switch-input"  ng-model="middleaged">
                            <span class="switch-label" data-on="Yes" data-off="No"></span>
                            <span class="switch-handle"></span>
                        </label>
                    </div>
                </td>
                <td style="padding-left: 10px;">
                    <p class="pos-service-one para">Oldster</p>
                </td>
                <td width="10%">
                    <div class="container">
                        <label class="switch">
                            <input type="checkbox" class="switch-input"  ng-model="oldster">
                            <span class="switch-label" data-on="Yes" data-off="No"></span>
                            <span class="switch-handle"></span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding-left: 10px;">
                    <p class="pos-service-one para">Men</p>
                </td>
                <td width="10%">
                    <div class="container">
                        <label class="switch">
                            <input type="checkbox" class="switch-input"  ng-model="men">
                            <span class="switch-label" data-on="Yes" data-off="No"></span>
                            <span class="switch-handle"></span>
                        </label>
                    </div>
                </td>
                <td style="padding-left: 10px;">
                    <p class="pos-service-one para">Women</p>
                </td>
                <td width="10%">
                    <div class="container">
                        <label class="switch">
                            <input type="checkbox" class="switch-input"  ng-model="women">
                            <span class="switch-label" data-on="Yes" data-off="No"></span>
                            <span class="switch-handle"></span>
                        </label>
                    </div>
                </td>
            </tr>
        </table>
        <br/>
        <a href="" ng-click="saveServiceShop()" class="a">Save</a>
        </div>
    </div>

    <div class="input-group1" ng-class="contactOpen == true ? 'open': '' ">
        <div class="contact tabt" role="toggle" ng-click="contactShopToggle()">
            <div class="labelinfo">Contact Information</div>
            <div class="value">
            </div>
        </div>
        <div class="fieldset">
            <p class="pos para">Telephone<span>
                <input type="number" min="0" class="six text" ng-model="phone"></span>
            </p>
            <p class="pos para">Website&nbsp;&nbsp;&nbsp;<span>
                <input type="text" class="six text" ng-model="website"/></span>
            </p>
            <p class="pos para">Facebook<span>
                <input type="text" class="six text" ng-model="facebook_page"/></span>
            </p>
            <a href="" ng-click="saveContactShop()" class="a" type="submit">Save</a>
        </div>
    </div>
    <a type="button" class="btn btn-primary" ng-click="saveShopDetail()" style="margin-left: 430px;">
        <i class="fa fa-check" style="font-size: 13px;width: 11px;"></i>
        Save
    </a>
</div>