.upper{
    background:#222127;
    padding-bottom:630px;
}

#pic-image{
    height:auto;
    width:1349px;
    position:absolute;
    top:0px;
    left:0px;
}

#image-pic{
    height:auto;
    width:1349px;
    position:absolute;
    /*padding-top:574px;*/
    left:0px;
}

.under-left{
    background:#f4f5f7;
    padding-bottom:250px;
    float:left;
}

.under-right{
    background:#f4f5f7;
    padding-top: 52px;
    float:left;
}

.avatar-large{
    position:absolute;
    width:70px;
    height:70px;
    border-radius:35px;
    left:175px;
    margin-top:30px;
    cursor:pointer;
}

.avatar-small{
    position:absolute;
    width:40px;
    height:40px;
    border-radius:20px;
    left:202px;
    margin-top:35px;
    cursor:pointer;
}

.avatar-smaller{
    position:absolute;
    width:40px;
    height:40px;
    border-radius:20px;
    left:202px;
    margin-top:140px;
    cursor:pointer;
}

.word{
    font-family:"Arial",sans-serif;
    font-size:21px;
    color:#000000;
    margin-left:260px;
    display:inline-block;
    margin-top:57px;
}

.line {
    margin-left:255px;
    margin-top:45px;
    width:400px;
    height:1px;
    border:0;
    border-top: 1px solid #b2b1b1;
}

#pic-image .upper img{
    position:absolute;
    margin:auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 60%;
    max-height: 70%;
}

.text-area {
    padding:12px;
    width: 385px;
    height: 100px;
    resize: none;
    border: 1px solid #cccccc;
    margin-top:15px;
    margin-left:260px;
    border-radius:4px;
    font-family:"Arial", sans-serif;
    font-size:95%;
}

.text-box{
    padding:12px;
    width: 385px;
    border: 1px solid #cccccc;
    margin-top:18px;
    margin-left:260px;
    border-radius:4px;
    font-family:"Arial", sans-serif;
    font-size:95%;
}

.submit{
    width:100px;
    background: #176cec;
    border-color: #176cec;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    margin-left:260px;
    margin-top:20px;
}

.submit:hover{
    background:#184382;
}










.photo-well-scrappy-view .height-controller {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    position: relative;
    background: #212124;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.photo-well-scrappy-view .height-controller .photo-well-media-scrappy-view {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    position: relative;
    margin: auto;
    padding: 20px 40px 50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

body, body.light, header.light, main.light, section.light, footer.light, article.light, div.light, p.light {
    color: #212124;
    background-color: #f3f5f6;
}

body {
    font-family: "Proxima Nova","helvetica neue",helvetica,arial,sans-serif;
}

.photo-page-ad-scrappy-view .ad-frame {
    border: 2px solid rgba(215,215,215,0.95);
    position: relative;
    z-index: 102;
}

.photo-well-scrappy-view img{
    max-height: 456px;
}





.view:hover .description {
    opacity: 1;
}

.view .description {
    background: rgba(0,0,0,0.6);
    position: absolute;
    opacity: 0;
    width: 151%;
    bottom: 28px;
    margin: 0px -229px;
}