.upper{
    background:#222127;
    padding-bottom:630px;
}

#pic-image{
    height:auto;
    width:1349px;
    position:absolute;
    top:0px;
    left:0px;
}

#image-pic{
    height:auto;
    width:1349px;
    position:absolute;
    /*padding-top:574px;*/
    left:0px;
}

.under-left{
    background:#f4f5f7;
    padding-bottom:250px;
    float:left;
}

.under-right{
    background:#f4f5f7;
    padding-top: 52px;
    float:left;
}

.avatar-large{
    position:absolute;
    width:70px;
    height:70px;
    border-radius:35px;
    left:175px;
    margin-top:30px;
    cursor:pointer;
}

.avatar-small{
    position:absolute;
    width:40px;
    height:40px;
    border-radius:20px;
    left:202px;
    margin-top:35px;
    cursor:pointer;
}

.avatar-smaller{
    position:absolute;
    width:40px;
    height:40px;
    border-radius:20px;
    left:202px;
    margin-top:140px;
    cursor:pointer;
}

.word{
    font-family:"Arial",sans-serif;
    font-size:21px;
    color:#000000;
    margin-left:260px;
    display:inline-block;
    margin-top:57px;
}

.line {
    margin-left:255px;
    margin-top:45px;
    width:400px;
    height:1px;
    border:0;
    border-top: 1px solid #b2b1b1;
}

#pic-image .upper img{
    position:absolute;
    margin:auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 60%;
    max-height: 70%;
}

.text-area {
    padding:12px;
    width: 385px;
    height: 100px;
    resize: none;
    border: 1px solid #cccccc;
    margin-top:15px;
    margin-left:260px;
    border-radius:4px;
    font-family:"Arial", sans-serif;
    font-size:95%;
}

.text-box{
    padding:12px;
    width: 385px;
    border: 1px solid #cccccc;
    margin-top:18px;
    margin-left:260px;
    border-radius:4px;
    font-family:"Arial", sans-serif;
    font-size:95%;
}

.submit{
    width:100px;
    background: #176cec;
    border-color: #176cec;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    margin-left:260px;
    margin-top:20px;
}

.submit:hover{
    background:#184382;
}

.photo-well-scrappy-view .height-controller {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    position: relative;
    background: #212124;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.photo-well-scrappy-view .height-controller .photo-well-media-scrappy-view {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    position: initial;
    margin: auto;
    padding: 20px 40px 50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

body, body.light, header.light, main.light, section.light, footer.light, article.light, div.light, p.light {
    color: #212124;
    background-color: #f3f5f6;
}

body {
    font-family: "Proxima Nova","helvetica neue",helvetica,arial,sans-serif;
}

.photo-page-ad-scrappy-view .ad-frame {
    border: 2px solid rgba(215,215,215,0.95);
    position: relative;
    z-index: 102;
}

.photo-well-scrappy-view img{
    max-height: 355px;
}

.view:hover .description {
    opacity: 1;
}

.view .description {
    background: rgba(0,0,0,0.6);
    opacity: 0;
}

.search {
    position: relative;
    margin: 0 auto;
    width: 400px;
    padding-top: 16px;
    padding-left: 5px;
}

.search input {
    height: 26px;
    width: 100%;
    padding: 0 12px 0 25px;
    background: white url("http://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 8px 6px no-repeat;
    border-width: 1px;
    border-style: solid;
    border-color: #a8acbc #babdcc #c0c3d2;
    border-radius: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}

.search input:focus {
    outline: none;
    border-color: #66b1ee;
    -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -moz-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -ms-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -o-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}

.search input:focus + .results { display: block }

.search .results {
    margin-top: 18px;
    border-width: 1px;
    border-style: solid;
    border-color: #cbcfe2 #c8cee7 #c4c7d7;
    border-radius: 3px;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #eceef4));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -moz-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -ms-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -o-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: linear-gradient(top, #fdfdfd, #eceef4);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.search .results li {
    display: block;
}

.search .results li:first-child { margin-top: -1px }

.search .results li:first-child:before, .search .results li:first-child:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    border: 5px outset transparent;
}

.search .results li:first-child:before {
    border-bottom: 5px solid #EEEEEE;;
    top: -11px;
}

.search .results li:first-child:after {
    border-bottom: 5px solid #EEEEEE;
    top: -10px;
}

.search .results li:first-child:hover:before, .search .results li:first-child:hover:after { display: none }

.search .results li:last-child { margin-bottom: -1px }

.search .results a {
    display: block;
    position: relative;
    margin: 0 -1px;
    padding: 6px 40px 6px 10px;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #000000;

}

.search .results a span { font-weight: 200 }

.search .results a:before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -9px;
    background: url("http://cssdeck.com/uploads/media/items/7/7BNkBjd.png") 0 0 no-repeat;
}
.numberCircle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 4px;
    top: 0px;
    left: 15px;
    background: #F00;
    color: white;
    text-align: center;
    position:absolute;
    z-index: 999;
    font: 11px Arial, sans-serif;
}
.deckgrid[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '5 .column.column-1-5';
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}

.deckgrid .column {
    float: left;
}

.deckgrid .column-1-5 {
    width: 250px;
}
.item101{
    width: 250px;
}