.magiccard{
    position: absolute;
    padding: 15px;
}
.magiccard .magiccard-content{
    position: relative;
    background: #C3C3C3;
    width: 300px;
    height: 200px;
    padding: 10px;
    margin-top: 14px;
}
.magiccard .magiccard-content:after {
    bottom: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(240, 240, 240, 0);
    border-bottom-color: #C3C3C3;
    border-width: 10px;
    margin-left: -10px;
}
.magiccard .magiccard-content .xclose{
    position: absolute;
    top: 3px;
    right: 7px;
}
.item-tag{
    width: 18px;
    height: 18px;
    text-align: center;
    color:  #6aacae;
    line-height: 18px;
    z-index: 9;
    border-radius: 50%;
    /*background-color: black;*/
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    padding-left: 17px;
    padding-top: 10px;
}
.item-tag-1{
    position: absolute;
    width: 18px;
    height: 18px;
    text-align: center;
    color: #fff;
    line-height: 18px;
    z-index: 9;
    border-radius: 50%;
    background-color: black;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin-left: 17px;
}
.item-tag-label {
    font-weight: bold;
}

.hidden-box{
    visibility: hidden;
}
.visible-box{
    visibility: visible;
}
.mpcth-price{
    z-index: 1;
    position: absolute;
    color: white!important;
    font-weight: bold;
    top: -39px;
    left: 13px;
    font-size: 14px !important;
    background: rgba(187, 17, 79, 0.8) !important;
    width: 70px !important;
    text-align: center !important;
    height: 70px !important;
    line-height: 70px !important;
    border-radius: 35px !important;
}
