<div class="view photo-well-scrappy-view" id="yui_3_16_0_1_1422362340497_1618">
    <div class="height-controller" style="height: 500px;">
        <div class="view photo-well-media-scrappy-view" id="yui_3_16_0_1_1422362340497_1698">

            <magiccard template-url="app/post/templates/templateTag.html" src="{{ image.image_url_editor }}"
                       callback="callback" data="shop" update="update"></magiccard>

        </div>
    </div>
    <!--<div id="photo">-->
    <!--<div style="width: 500px">-->
    <!--<magiccard template-url="app/post/templates/templateTag.html" src="{{ image.image_url_editor }}"-->
    <!--callback="callback" data="shop" update="update"></magiccard>-->
    <!--</div>-->
    <!--<input ng-model="caption" type="text"/>-->
    <!--<input ng-model="album" type="text"/>-->

    <!--<div ng-repeat="point in points track by $index">-->
    <!--<h3>{{ $index+1 }}-{{ point.name }} - {{ point.price }} - {{ point.address }} - <a href="#"-->
    <!--ng-click="deletepoint($index)"-->
    <!--class="text-muted">Delete</a>-->
    <!--</h3>-->
    <!--</div>-->
    <!--<button id="tagButton">Click to tag</button>-->
    <!--<button ng-click="submit()">Submit</button>-->
    <!--</div>-->
    <div id="image-pic">
        <div class="under-left" style="width:50%;">
            <img src="" class="avatar-large"/>
            <b class="word"></b>
            <hr class="line">
            <img src="" class="avatar-small"/>
            <textarea class="text-area" placeholder="Add a caption"></textarea>
            <img src="" class="avatar-smaller"/><br>
            <input type="textbox" placeholder="Add a album" class="text-box"/>
            <input type="submit" value="Submit" class="submit">
        </div>
    </div>
