<div class="modal img-modal">
    <div class="modal-body" style="margin: -48px -42px;height: 109.1%;">
        <div class="row">
            <div class="col-md-8 modal-image">
                <!--<img class="img-responsive" ng-src="{{ post.image_url_editor }}">-->
                <hovercard1 src="{{ post.image_url_editor | trusted }}" data="post.tag_picture"></hovercard1>
                <!--<a href="" class="img-modal-btn left"><i class="glyphicon glyphicon-chevron-left"></i></a>-->
                <!--<a href="" class="img-modal-btn right"><i class="glyphicon glyphicon-chevron-right"></i></a>-->
            </div>
            <div class="col-md-4 modal-meta">
                <div class="modal-meta-top">
                    <div class="img-poster clearfix" style="margin: 13px 8px;">
                        <a href=""><img class="img-circle" ng-src="{{ post.user.picture_profile }}"></a>
                        <strong><a ng-href="/user/{{ post.user.id }}" style="color: #0B0B0B;">{{ post.user.username
                            }}</a></strong>
                        <span>{{ post.created_at }}</span><i class="fa fa-pencil" ng-click="editPost()" style="cursor:pointer;" ng-if="loginUser.id == post.user.id"></i><i style="padding-left: 15px;cursor: pointer" class="fa fa-trash-o" ng-click="deletePostInside()" ng-if="loginUser.id == post.user.id"></i>
                    </div>
                    <div ng-if="editing == true">
                        <form ng-submit="submitCaption()" class="form-inline">
                            <input type="text" class="form-control" ng-model="editCaption" name="editCaption" value="{{ post.caption }}" style="width: 196px;margin-left: 10px">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i></button>
                            <button ng-click="closeEdit()" class="btn btn-primary"><i class="fa fa-times"></i></button>
                        </form>
                    </div>
                    <div class="info-wrapper">
                        <div ng-if="editing == false">
                            {{ post.caption }}
                        </div>
                        <div ng-repeat="point in post.tag_picture">
                            <div ng-mouseover="hoverPoint($index+1)" ng-mouseleave="leavePoint($index+1)">
                                <span class="numberCircle-post" hover-card point-name="{{ point.name }}" point-price="{{ point.price }}" point-address="{{ point.shop.address }}" point-aid="{{point.shop.id}}">{{ $index+1 }}</span>
                            </div>
                        </div>
                        <span ng-repeat="tag in post.tag" style="padding-right: 10px">
                            <i class="fa fa-tags fa-lg" style="color:#176CED;padding-right: 3px"></i>{{ tag.content.content }}
                        </span>
                    </div>
                    <div class="row row-merge" style="height: 26px;padding-left: 13px">
                        <a style="color:#7187B6" ng-click="likeOrDislike()" ng-switch="iconLike">
                            <span ng-switch-when="false">Like</span>
                            <span ng-switch-when="true">Liked</span>
                        </a>
                        ·
                        <a style="color:#7187B6" ng-click="favorite()" ng-switch="iconFavorite">
                            <span ng-switch-when="false">Favorite</span>
                            <span ng-switch-when="true">Favorited</span>
                        </a>
                    </div>
                    <ul class="img-comment-list" style="padding-left: 13px">
                        <li style="background-color: #e9eaed;margin-top: 1px;padding:4px 0px 4px 6px ;  font-size: 14px;color: rgb(69, 97, 157);">
                            <i class="fa fa-thumbs-o-up"> {{ post.like.length }} people like this</i>
                        </li>
                        <li style="background-color: #e9eaed;margin-top: 1px;padding:4px 0px 4px 6px ;  font-size: 14px;color: rgb(69, 97, 157);">
                            <i class="fa fa-heart-o"> {{ post.favorite.length }} people favorite this</i>
                        </li>
                        <li style="background-color: #e9eaed;margin-top: 1px;padding-left: 6px;"
                            ng-repeat="comment in post.comments">
                            <div class="comment-img">
                                <img ng-src="{{ comment.user.picture_profile }}">
                            </div>
                            <div class="comment-text">
                                <strong><a ng-href="/user/{{ comment.user.id }}" style="color: #0B0B0B;" ng-click="closeThisDialog()">{{ comment.user.username }}</a>
                                    <i class="fa fa-pencil" ng-click="editComment($index,comment.content)" style="cursor:pointer;margin-left:89px" ng-if="loginUser.id == comment.user.id"></i>
                                    <i style="padding-left: 10px;cursor: pointer" class="fa fa-trash-o" ng-click="deleteCommentIndex($index)" ng-if="loginUser.id == comment.user.id"></i>
                                </strong>
                                <div ng-if="comment.editing == 'yes'">
                                    <form ng-submit="submitEditComment($index)" class="form-inline">
                                        <input type="text" class="form-control" ng-model="editContent" name="editContent" style="width: 210px;">
                                        <button type="submit" class="btn btn-primary" style="margin-top: 10px"><i class="fa fa-check"></i></button>
                                        <button ng-click="closeEditComment($index)" class="btn btn-primary" style="margin-top: 10px"><i class="fa fa-times"></i></button>
                                    </form>
                                </div>
                                <p ng-if="comment.editing == null">{{ comment.content }}</p>
                                <span class="date sub-text">{{ comment.created_at}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <form ng-submit="submitComment()">
                    <div class="modal-meta-bottom">
                        <input class="form-control" placeholder="Leave a commment.." type="text" ng-model="comment"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>