<div class="has-magiccard">
    <img alt="Photo" style="cursor: {{ cursor }}" ng-src="{{ src | trusted }}">

    <div class="magiccard"
         ng-show="show && onTag && completing"
         style="top: {{ imgTop - 30 }}px; left: {{ imgLeft - 45 }}px"
         ng-mouseenter="onTyping = true;"
         ng-mouseleave="onTyping = false;">
        <form ng-submit="submit()">
                    <span class="item-tag">
                        <span class="item-tag-label">
                            <i class="fa fa-star fa-2x"></i>
                        </span>
                    </span>

            <div class="magiccard-content bigEntrance">
                <div style="padding-top: 6px;">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Name:</label>
                    <div class="col-sm-10" style="padding: 0px 0px 14px 28px;">
                        <input type="text" class="form-control" ng-model="formData.name" required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Price:</label>
                    <div class="col-sm-10" style="padding: 0px 0px 14px 28px;">
                        <input type="number" min="1000" step="500" class="form-control"   ng-model="formData.price" required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Address:</label>
                    <div class="col-sm-10" style="padding: 0px 0px 14px 28px;">
                        <autocomplete template-url="app/post/templates/searchShop.html" class="form-control" ng-model="formData.yourchoice" data="data" on-type="update"
                                      attr-placeholder="Address..."></autocomplete>
                    </div>
                </div>
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                </div>
                <input type="hidden" value="{{ imgTop }}"/>
                <input type="hidden" value="{{ imgLeft }}"/>
            </div>
        </form>
    </div>
</div>