<div style="width: 93%;margin: 75px 54px -71px;" >
<div ng-repeat="post in postsTop3" class="item101" ng-class="{ no1: $index == 0 , no2 : $index == 1 , no3 : $index == 2 }">
    <div style="margin-right: 22px;margin-top:12px">
        <div class="widget border-none bg-none widget-pinterest active"
             style="-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);border-radius: 6px;">
            <div class="widget-body bg-none padding-none" ng-class="{ no1Height: $index == 0 , no2Height : $index == 1 , no3Height : $index == 2}"
                 style="-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);box-shadow: 2px 2px rgba(0, 0, 0, 0.22);border-radius: 6px;" >
                <a ng-click="openPost(post.id)"
                   data-toggle="prettyPhoto" class="thumb">
                    <img ng-src="assets/img/images/medal/1.png" ng-if="$index == 0" class="goldMedal" style="width: 14%;"/>
                    <img ng-src="assets/img/images/medal/2.png" ng-if="$index == 1" class="silverMedal" style="width: 14%;"/>
                    <img ng-src="assets/img/images/medal/3.png" ng-if="$index == 2" class="bronze" style="width: 14%;"/>
                    <img ng-src="{{ post.image_url_editor }}" style="width: 100%"
                         alt="photo"/>
                </a>

                <div class="description  meta">
                    <div class="hover-blue">
                        <div class="title">
                            <a data-track="photo-click" ng-href="#/" class="title" style="font-size: 15px;">
                                {{ post.caption }}
                            </a>
                        </div>
                        <div class="attribution-block" style="height: 7px;margin-top: 6px;font-size: 15px">
                            <span class="attribution">
                                <span style="color: whitesmoke;">bởi </span>
                                <a data-track="owner" ng-href="#/user/{{post.user_id}}"
                                   class="owner">{{ post.user.username }}</a>
                            </span>
                        </div>
                    </div>
                        <span class="inline-icons" style="font-size: 15px;">
                            <i class="fa fa-fw fa-thumbs-up" style="color: white;"></i>
                            <a data-track="favorite" href="#" class="rapidnofollow fave-star-inline canfave" style="margin-left: -4px;">
                                99+
                            </a>
                            <i class="fa fa-fw fa-heart " style="color: white;margin-left: 7px;"></i>
                            <a href="#" class="rapidnofollow comments-icon comments-inline-btn" style="margin-left: -3px;">
                                <span class="comment-count count">{{ post.like.length }}</span>99+
                            </a>
                        </span>
                </div>
            </div>
        </div>
    </div>
</div></div>

<div masonry='{ "columnWidth": 250 , "itemSelector" : ".item101"}' style="width: 1251px;margin: auto;margin-top: 80px;"
     infinite-scroll='nextPage()' infinite-scroll-disabled='busy' infinite-scroll-distance='1' >
    <!-- items -->
    <div masonry-tile ng-repeat="post in posts" class="item101">
        <div style="margin-right: 10px">
            <div class="widget border-none bg-none widget-pinterest active"
                 style="-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);border-radius: 6px;">
                <div class="widget-body bg-none padding-none"
                     style="-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);box-shadow: 2px 2px rgba(0, 0, 0, 0.22);border-radius: 6px;" >
                    <a ng-click="openPost(post.id)"
                       data-toggle="prettyPhoto" class="thumb">
                        <img ng-src="{{ post.image_url_editor }}" style="width: 100%"
                             alt="photo"/>
                    </a>

                    <div class="description  meta">
                        <div class="hover-blue">
                            <div class="title">
                                <a data-track="photo-click" ng-href="#/" class="title" style="font-size: 15px;">
                                    {{ post.caption }}
                                </a>
                            </div>
                            <div class="attribution-block" style="height: 7px;margin-top: 6px;">
                                <span class="attribution">
                                    <span style="color: whitesmoke;">bởi </span>
                                    <a data-track="owner" ng-href="#/user/{{post.user_id}}"
                                       class="owner">{{ post.user.username }}</a>
                                </span>
                            </div>
                        </div>
                            <span class="inline-icons" style="font-size: 11px;">
                                <i class="fa fa-fw fa-thumbs-up" style="color: white;"></i>
                                <a data-track="favorite" href="#" class="rapidnofollow fave-star-inline canfave" style="margin-left: -4px;">
                                    99+
                                </a>
                                <i class="fa fa-fw fa-heart " style="color: white;margin-left: 7px;"></i>
                                <a href="#" class="rapidnofollow comments-icon comments-inline-btn" style="margin-left: -3px;">
                                    <span class="comment-count count">{{ post.like.length }}</span>99+
                                </a>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>