<div infinite-scroll='nextPage()' infinite-scroll-disabled='busy' infinite-scroll-distance='0.5'>
    <section id="cd-timeline" class="cd-container">

        <div class="cd-timeline-block" ng-repeat="post in posts">
            <div class="cd-timeline-img cd-picture">
                <img ng-src="{{ post.user.picture_profile }}" alt="Picture" class="img-circle">
            </div>
            <!-- cd-timeline-img -->

            <div class="cd-timeline-content" style="cursor: pointer">


                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut-->
                    <!--hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis-->
                    <!--qui ut.</p>-->
                <!--<a href="#0" class="cd-read-more">Read more</a>-->
                <img ng-src="{{ post.image_url_editor }}" style="width: 100%" ng-click="openPost(post.id)" >
                <span class="cd-date">
                    <h2 style="font-size: 20px"><a ng-href="/user/{{ post.user.id }}" style="color: black">{{ post.user.username }}</a>
                        <i class="fa fa-upload" ng-if="post.type == 'create'"></i>
                        <i class="fa fa-thumbs-o-up" ng-if="post.type == 'like'" style="color: blue"></i>
                        <i class="fa fa-comment-o" ng-if="post.type == 'comment'"></i>
                        <i class="fa fa-heart-o " ng-if="post.type == 'favorite'" style="color: red"></i>
                    </h2>
                    <span style="font-size: 14px">{{ post.time_created }}</span>
                </span>
            </div>
            <!-- cd-timeline-content -->
        </div>
        <!-- cd-timeline-block -->
    </section>
    <!-- cd-timeline -->
</div>