<div class="modal img-modal">
    <div class="modal-body" style="margin: -48px -42px;height: 109.1%;">
        <div class="row">
            <div class="col-md-8 modal-image">
                <img class="img-responsive" ng-src="{{ post.image_url_editor }}">
                <a href="" class="img-modal-btn left"><i class="glyphicon glyphicon-chevron-left"></i></a>
                <a href="" class="img-modal-btn right"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
            <div class="col-md-4 modal-meta">
                <div class="modal-meta-top">
                    <div class="img-poster clearfix">
                        <a href=""><img class="img-circle" ng-src="{{ post.user.picture_profile }}"></a>
                        <strong><a ng-href="#/user/{{ post.user.id }}" style="color: #0B0B0B;">{{ post.user.username
                            }}</a></strong>
                        <span>12 minutes ago</span>
                    </div>
                    <div class="row row-merge" style="height: 43px;">
                        <a href="" class="innerAll text-center  text-muted" style="margin-left: 80px;" ng-click><i
                                class="fa fa-fw fa-thumbs-up"></i> {{ post.liked_count }}</a>
                    </div>
                    <ul class="img-comment-list">
                        <li style="background-color: #e9eaed;margin-top: 1px;padding-left: 6px;" ng-repeat="comment in post.comments">
                            <div class="comment-img">
                                <img ng-src="{{ comment.user.picture_profile }}">
                            </div>
                            <div class="comment-text">
                                <strong><a href="" style="color: #0B0B0B;">{{ comment.user.username }}</a></strong>

                                <p>{{ comment.content }}</p> <span
                                    class="date sub-text">{{ comment.created_at}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <form ng-submit="submitComment()">
                    <div class="modal-meta-bottom">
                        <input class="form-control" placeholder="Leave a commment.." type="text" ng-model="comment" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>