<div class="dialog-contents">
        <div class="modal-body">
            <div class="bootbox-body">Do you want to editor image?</div>
        </div>
        <div class="modal-footer">
            <a data-bb-handler="cancel" type="button" class="btn btn-primary" ng-click="close()">
                <i class="fa fa-times" style="font-size: 13px;width: 11px;"></i>
                No
            </a>
            <a data-bb-handler="confirm" type="button" class="btn btn-primary" ng-click="confirm()">
                <i class="fa fa-check" style="font-size: 13px;width: 11px;"></i>
                Yes
            </a>
        </div>
</div>