<div class="autocomplete search" id="{{ attrs.id }}">
    <input
            type="text"
            ng-model="searchParam"
            placeholder="{{ attrs.placeholder }}"
            id="{{ attrs.inputid }}"/>
    <ul class="results" ng-show="completing && suggestions.length>0">
        <li
                ng-repeat="suggestion in suggestions | filter:searchFilter | orderBy:'toString()' track by $index"
                index="{{ $index }}"
                ng-class="{ active: ($index === selectedIndex) }" ng-click="select(suggestion.name)">
            <a ng-href="/{{ suggestion.url }}">
                <img style="position: absolute;top: 0px;left: 10px;width: 40px;height: 40px;" ng-src="{{ suggestion.image }}">
                <span style="display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding-left: 60px"><b>{{ suggestion.name }}</b></span>
                <span style="display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding-left: 60px">{{ suggestion.sub }}</span>
            </a>
        </li>
    </ul>
    <ul class="results" ng-show="completing && suggestions.length <=0 ">
        <li>
           <div style="display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding-left: 60px">No result for <b>{{ searchParam }}</b></div>
        </li>
    </ul>
</div>
