<div class="div-map">
    <input id="pac-input" class="controls" type="text" placeholder="Search Box"/>
    <div id="map" class="transitionHideMap"
         style="position: relative; overflow: hidden; width: 100%; height: 308px; z-index: 0; transform: translateZ(0px); background-color: rgb(229, 227, 223);"></div>
    <div onclick="resizeMap()"  id="hideMapDiv" class="transitionHideMap"><a class="div-hide-map"><i class="fa fa-chevron-circle-up"></i><span>Hide map</span></a></div>
    <script>
        function resizeMap() {
            var hideMapDiv = document.getElementById('hideMapDiv');
            var map = document.getElementById('map');
            if (hideMapDiv.innerHTML.indexOf("Hide map")>-1) {
                hideMapDiv.style.marginTop = '92px';
                map.style.height = '58px';

                hideMapDiv.innerHTML = '<a class="div-hide-map"><i class="fa fa-chevron-circle-down"></i><span>Show map</span></a>';
            }
            else {
                map.style.height = '308px';
                hideMapDiv.style.marginTop = '342px';
                hideMapDiv.innerHTML = '<a class="div-hide-map"><i class="fa fa-chevron-circle-up"></i><span>Hide map</span></a>';
            }
        }
    </script>
</div>
<div masonry='{ "columnWidth": 300 , "itemSelector" : ".item101"}' style="width: 1200px;margin: auto;margin-top: 80px;"
     infinite-scroll='nextPage()' infinite-scroll-disabled='busy' infinite-scroll-distance='1' >
    <!-- items -->
    <div masonry-tile ng-repeat="post in posts" class="item101">
        <div style="margin-right: 22px;margin-top:12px">
            <div class="widget border-none bg-none widget-pinterest active"
                 style="-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);border-radius: 6px;">
                <div class="widget-body bg-none padding-none"
                     style="-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);box-shadow: 2px 2px rgba(0, 0, 0, 0.22);border-radius: 6px;">
                    <a ng-click="openPost(post.id)"
                       data-toggle="prettyPhoto" class="thumb">
                        <img ng-src="{{ post.image_url_editor }}" style="width: 100%"
                             alt="photo"/>
                    </a>

                    <div class="description  meta">
                        <div class="hover-blue">
                            <div class="title">
                                <a data-track="photo-click" ng-href="#/" class="title">
                                    {{ post.caption }}
                                </a>
                            </div>
                            <div class="attribution-block" style="height: 7px;margin-top: 6px;">
    										<span class="attribution"><span>bởi </span>
    										<a data-track="owner" ng-href="#/user/{{post.user_id}}"
                                               class="owner">{{ post.user.username }}</a></span>
                            </div>
                        </div>
    								<span class="inline-icons" style="font-size: 11px;">
    									<img width="12" height="12" alt="[★]"
                                             src="https://s.yimg.com/pw/images/spaceball.gif"
                                             style="background: rgba(150, 25, 25, 0) url(https://s.yimg.com/pw/images/sprites/icons/fav.png) no-repeat scroll center;background-size: contain;margin-right: -3px;vertical-align: top;margin-top: -1px;width: 15px;height: 15px;">
    									<a data-track="favorite" href="#" class="rapidnofollow fave-star-inline canfave"
                                           onMouseOver="this.style.color='white'"
                                           onMouseOut="this.style.color='white'"
                                           title="Thêm ảnh này vào ảnh yêu thích của bạn?">
                                            <span class="fave-count count" style="margin-right: 3px;">99+</span>
                                        </a>
    									<i class="fa fa-smile-o" style="color: white;"></i>
    									<a title="Lời bình" href="#"
                                           class="rapidnofollow comments-icon comments-inline-btn"
                                           onMouseOver="this.style.color='white'"
                                           onMouseOut="this.style.color='white'">
                                            <span class="comment-count count">{{ post.like.length }}</span>
                                        </a>
    								</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>